version: '3.8'

services:
  backend:
    image: shanu106/sonic-recruite-pro-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    restart: unless-stopped

  frontend:
    image: shanu106/sonic-recruiter-pro-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    env_file:
      - ./frontend/.env
    ports:
      - "8080:8080"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    depends_on:
      - backend
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]
    restart: unless-stopped

volumes:
  frontend_node_modules: